ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.comic-list {overflow: hidden; padding: 10px;}
.comic-list li {width: 100%; height: 40px; line-height: 40px; border-top: 1px solid #d0d0d0;}
.comic-list li:last-child {border-bottom: 1px solid #d0d0d0;}
.comic-list a { display: block; width: 100%; height: 100%; line-height: 40px; color: #333; text-decoration: none; text-indent: 1em;}

.img-list { text-align: center;}
.img-list img {width: 100%; max-width: 720px;}