/* util */
.more-s1 {float: right; font-size: 12px;}
.align-left {float: left;}
.text-blue {color: #0099ff;}
.pos-relative {position: relative;}

/* 顶部导航 */
.top-nav { overflow: hidden;}
.top-nav li { height: 36px; line-height: 36px; float: left; margin-right: 30px; }
.top-nav li a {color: #e0e0e0;}

.top-action {position: absolute; right: 0; top: 0; color: #e0e0e0; line-height: 36px;}
.top-action a {color: #e0e0e0; padding: 0px 10px;}
.top-action .mb_1 {padding-top: 0;}
.top-action .mb_2 {padding-top: 3px;}
.top-action .vm {position: relative; top: -2px;}

/* 主导航 */
.main-nav ul { overflow: hidden; height: 24px; margin-left: 10px; margin-top: 4px;}
.main-nav li { float: left; line-height: 24px; font-size: 15px; padding: 0 15px; border-left: 1px solid #ccc}
.main-nav li:first-child {border-left: 0;}

/* 首页的 tab */
.index-tab1 {}
.index-tab1 .bm_h {overflow: visible; border-top: 0; position: relative;}
.index-tab .tab-header {margin-left: -11px; height: 33px;}
.index-tab .tab-header li {float: left; padding: 0 10px; cursor: pointer;}
.index-tab .tab-header li.cur { font-weight: bold; background-color: #fff; border: 1px solid #ccc; border-bottom-color: #fff; border-top: 0;}
.index-tab1 .duihuan {position: absolute; right: 4px; top: 3px; padding: 0 10px; line-height: 24px; background-color: #FFC600; font-size: 13px; border-radius: 20px;}
.index-tab1 .duihuan:hover {text-decoration: none; background-color: #FAD862;}
.index-tab1 .tab-item {height: 90px; overflow: hidden; position: relative;}
.index-tab1 .tab-item ul { overflow: hidden; position: absolute; left: 0; top: 0;}
.index-tab1 .tab-item li{height: 30px; width: 100%; line-height: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.index-tab1 .tab-item li span {color: #888;}


/* 热门攻略专题 */
.hot-topic {padding: 0 10px;}
.hot-topic-list {overflow: hidden; margin-left: -2%; }
.hot-topic-list li,
.op-group-list li {width: 23%; height: 60px; overflow: hidden; min-height: 30px; float: left; margin-bottom: 10px; margin-left: 2%;}
.hot-topic-list img,
.op-group-list img {float: left; margin-right: 5px; width: 60px; height: 60px;}
.hot-topic-list h2 {font-size: 14px; color: #0099FF;}

/* 精彩视频 */
.hot-video {padding: 0 10px;}
.hot-video .bm_h h2 {margin-right: 20px;}
.hot-video .tab-header {font-size: 12px;}
.video-list {overflow: hidden; margin-left: -4px}
.video-list li {float: left; width: 123.5px; height: 115px; margin-left: 10px; margin-bottom: 10px; overflow: hidden; }
.video-list li img {width: 100%; height: 75px; border: 1px solid #ccc;}
.video-list li p {line-height: 16px; margin-top: 5px;}

/* 合作部落 */
.op-group {padding: 0 10px;}
.op-group-list {overflow: hidden; margin-left: -2%;}
.op-group-list p {max-height: 36px; line-height: 18px; overflow: hidden;}
.op-group-list a:hover {text-decoration: none;}
.op-group-list .join {color: red;}
.op-group-list .join:hover {text-decoration: underline;}

/* 专题页面 */
.special-wrap {padding-bottom: 10px;}
.special-title {margin-top: 20px; overflow: hidden; padding: 0 10px; }
.special-title h2 { font-size: 16px; font-weight: normal; }
.special-title .more-s1 {float: left; margin-left: 20px; margin-top: 2px;}
.special-list-wrap { border-top: 1px solid #ccc;  overflow: hidden;}
.special-list {overflow: hidden;}
.special-list li {width: 25%; height: 100px; padding: 5px; float: left; font-size: 13px; border: 1px solid #ccc; border-width: 0 1px 1px 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.special-list li:nth-child(4n) { border-right: 0;}
.special-list img {width: 80px; height: 80px; float: left;  margin-right: 5px;}
.special-list-title {font-size: 16px; color: #0099FF;}
.special-list .sub-action { padding: 3px 20px 5px; margin-top: 10px; background-color: #1781C8; color: #fff; font-size: 12px; border-radius: 5px;}
.special-list .sub-action:hover {text-decoration: none; background-color: #3C99D7;}

/* 内页样式 */
.special-static { position: absolute; width: 220px; right: -1px; top: -1px; }
.rem-gift-list {text-align: center; overflow: hidden; height: 230px;}
.rem-gift-list li {width: 100%; display: none;}
.rem-gift-list li:first-child {display: block;}
.rem-gift-list img {width: 100%; height: 200px;}
.rem-gift-list p {line-height: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.rem-gift-pager { text-align: center; line-height: 10px; }
.rem-gift-pager span {display: inline-block; width: 7px; height: 7px; margin: 0 2px; background-color: #ccc; border-radius: 10px; }
.rem-gift-pager span.cur {background-color: #0099ff;}

.rem-video-list {text-align: center;}
.rem-video-list img {width: 100%;}
.rem-video-list p {margin-top: 3px;}
.rem-video-list li {margin-top: 10px;}
.rem-video-list li:first-child {margin-top: 0;}
.sort-action ul{ display: inline-block; overflow: hidden; margin-bottom: 10px; border-bottom: 1px dashed #ccc;}
.sort-action li {float: left; margin-right: 10px; padding-bottom: 10px;}
.sort-action li a {line-height: 14px; padding-left: 10px; color: #0099ff; border-left: 1px solid #ccc;}
.sort-action li:first-child a {border-left: 0;}

.c-video-list {padding: 10px !important;}
.c-video-list .video-list{margin-left: -2%;}
.c-video-list li {width: 18%; margin-left: 2%; margin-bottom: 20px;}

/* overwrite */
.nv_q_ie6 {position: relative;}
.player-name {font-weight: bold; font-size: 14px;}
.clct_flw {float: left; margin: 0 10px;}
